# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
dist
build
logs
*.log
*.gz
.env

# Coveralls
coverage
jest-stare

#IDE
.idea
.idea/vcs.xml
